<ul class="message-unolist">
  <li>
    <div class="message-text-wrapper message-client-side">
      <p class="message-text">
        ctetur ad這是對話內容框 quastae consequatur dignissimos esse
        explicabo in, non, inventore harum! Impedit voluptate
        reprehenderit maiores ex. Sint facilis vero aliquid.
      </p>
    </div>
    
    <div class="message-date-wrapper">
      <div class="message-date message-date-client">10:14</div>
    </div>
  </li>
  <li>
    <div class="robot-avatar-wrapper">
      <div class="robot-avatar">
        <img class="robot-img" src="../../../assets/pics/asker.svg" alt="asker">
      </div>
    </div>
    <div class="message-text-wrapper message-robot-side">
      <p class="message-text">
        ctetur ad這是對話內容框 quastae consequatur dignissimos esse
        explicabo in, non, inventore harum! Impedit voluptate
        reprehenderit maiores ex. Sint facilis vero aliquid.
      </p>
    </div>
    
    <div class="message-date-wrapper">
      <div class="message-date">10:14</div>
    </div>
  </li>
  <li class="ans-li">
    <div class="ans-wrapper">
      <div></div>
      <div class="ans">YES</div>
      <div class="ans">NO</div>
    </div>
  </li>
</ul>