// global styles
// 無法獨立global.scss，在scss資料夾中，匯入變數
@import "../../src/scss/colors";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap");

body {
  height: 95vh;
  background-color: $bg-color;
  font-family: "Playfair Display", serif;
  font-size: 18px;
  scroll-behavior: smooth;
}

ul {
  // rest Edge browser style
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
