<div class="outer">
  <div class="container">
    <div class="wrapper">
      <div class="menu">
        <div class="menu-pic-wrapper">
          <img
            class="menu-pic"
            src="../../../assets/pics/outside-menu.png"
            alt="menu"
            srcset=""
          />
        </div>
      </div>
      <div class="dialog-wrapper">
        <div class="dialog-window">
          <div class="dialog-content">
            <app-chat></app-chat>            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
